
# please use >= 2022.08 openocd
# some commands are changed to match latest openocd changes
adapter speed 1000

adapter driver ftdi
ftdi vid_pid 0x0403 0x6010
# for 2023.10 openocd, change oscan1_mode to nscan1_mode

#ftdi nscan1_mode on
ftdi oscan1_mode off

transport select jtag
ftdi layout_init 0x0008 0x001b
ftdi layout_signal nSRST -oe 0x0020 -data 0x0020
ftdi layout_signal TCK -data 0x0001
ftdi layout_signal TDI -data 0x0002
ftdi layout_signal TDO -input 0x0004
ftdi layout_signal TMS -data 0x0008
ftdi layout_signal JTAG_SEL -data 0x0100 -oe 0x0100

set _CHIPNAME riscv
jtag newtap $_CHIPNAME cpu -irlen 5 
set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_CHIPNAME.cpu -coreid 0

$_TARGETNAME configure -work-area-phys 0x20000000 -work-area-size 10000 -work-area-backup 1

#riscv set_reset_timeout_sec 30
#riscv set_command_timeout_sec 30

#tcl port disabled
#telnet_port disabled
#bindto 172.16.108.85
gdb port 3333


debug_level 2





init

proc read_dm_regs {} {
    echo "DM Registers:"
    echo [format "dmstatus:  0x%08x" [riscv dmi_read 0x11]]
    echo [format "abstractcs: 0x%08x" [riscv dmi_read 0x16]]
    echo [format "sbcs:     0x%08x" [riscv dmi_read 0x38]]
}
read_dm_regs

echo [format "riscv-info:     %s" [riscv info]]
#init resethalt

mww 0x23009000 0xdeadbeef
mww 0x23009004 0x0033333
set addr 0x23009018
#set oldval [mdw $addr]
#set newval [expr {$oldval | 0x01}]
mww $addr 0x01




halt
