adapter driver ftdi
adapter speed 1000
ftdi vid_pid 0x0403 0x6010
# for 2023.10 openocd, change oscan1_mode to nscan1_mode

#ftdi nscan1_mode on
ftdi oscan1_mode off

transport select jtag
ftdi layout_init 0x0008 0x001b
ftdi layout_signal nSRST -oe 0x0020 -data 0x0020
ftdi layout_signal TCK -data 0x0001
ftdi layout_signal TDI -data 0x0002
ftdi layout_signal TDO -input 0x0004
ftdi layout_signal TMS -data 0x0008
ftdi layout_signal JTAG_SEL -data 0x0100 -oe 0x0100

set _CHIPNAME riscv
jtag newtap $_CHIPNAME cpu -irlen 5 
set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_CHIPNAME.cpu -coreid 0

# TODO: variables should be replaced by nuclei_gen
set workmem_base    0x18000000
set workmem_size    0x10000
set xflash_base     0x0FF70000
set xipnuspi_base   0x20000000


set CUR_CFG_PATH [file normalize [info script]]
echo "CUR_CFG_PATH: $CUR_CFG_PATH"
set CUR_DIR [file dirname $CUR_CFG_PATH]
echo "CUR_DIR: $CUR_DIR"
set REL_PATH "./loader_flash.bin"
echo "REL_PATH: $REL_PATH"
set ABS_PATH [file normalize [file join $CUR_DIR $REL_PATH]]
echo "ABS_PATH: $ABS_PATH"
set  WIN_ABS_PATH [string map {/ \\\\} $ABS_PATH]
echo "WIN_ABS_PATH: $WIN_ABS_PATH"

# if NOFLASH variable exist or passed by openocd command
# will not probe flash device
set _noflash [ info exists NOFLASH ]


$_TARGETNAME configure -work-area-phys 0x18000000 -work-area-size 20000 -work-area-backup 0

if { $_noflash == 0 } {
    set _FLASHNAME $_CHIPNAME.flash
    flash bank $_FLASHNAME custom $xflash_base 0 0 0 $_TARGETNAME $xipnuspi_base   $WIN_ABS_PATH  simulation       
}

#riscv set_reset_timeout_sec 30
#riscv set_command_timeout_sec 30

#tcl port disabled
#telnet_port disabled

gdb port 3333

debug_level 2



init

# SYSCLK -> OSC(12M)
mww 0x24004008 0
# OPTION BYTES deffaut, not from sysctrl
mww 0x290014c0 0x00
proc read_dm_regs {} {
    echo "DM Registers:"
    echo [format "dmstatus:  0x%08x" [riscv dmi_read 0x11]]
    echo [format "abstractcs: 0x%08x" [riscv dmi_read 0x16]]
    echo [format "sbcs:     0x%08x" [riscv dmi_read 0x38]]
}
read_dm_regs

echo [format "riscv-info:     %s" [riscv info]]
#init resethalt
mww 0x23009000 0xdeadbeef
mww 0x23009004 0x0011233
set addr 0x23009018
#set oldval [mdw $addr]
#set newval [expr {$oldval | 0x01}]
mww $addr 0x01
halt
